# Copyright (c) The mlkem-native project authors
# SPDX-License-Identifier: Apache-2.0 OR ISC OR MIT

name: CI
permissions:
  contents: read
on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
    types: [ "opened", "synchronize" ]

jobs:
  opentitan_integration:
    name: OpenTitan
    permissions:
      contents: 'read'
      id-token: 'write'
    uses: ./.github/workflows/integration-opentitan.yml
    secrets: inherit
