# Copyright (c) The mlkem-native project authors
# SPDX-License-Identifier: Apache-2.0 OR ISC OR MIT

name: CI
permissions:
  contents: read
on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
    types: [ "opened", "synchronize" ]

jobs:
  # base:
  #   name: Base
  #   permissions:
  #     contents: 'read'
  #     id-token: 'write'
  #   uses: ./.github/workflows/base.yml
  #   secrets: inherit
  # lint-markdown:
  #   name: Lint Markdown
  #   permissions:
  #     contents: 'read'
  #     id-token: 'write'
  #   uses: ./.github/workflows/lint_markdown.yml
  # nix:
  #   name: Nix
  #   permissions:
  #     actions: 'write'
  #     contents: 'read'
  #     id-token: 'write'
  #   uses: ./.github/workflows/nix.yml
  #   secrets: inherit
  ci:
    name: Extended
    permissions:
      contents: 'read'
      id-token: 'write'
    uses: ./.github/workflows/ci.yml
    secrets: inherit
