# SPDX-License-Identifier: Apache-2.0

name: CI
permissions:
  contents: read
on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
    types: [ "opened", "synchronize" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  base:
    name: Base
    permissions:
      contents: 'read'
      id-token: 'write'
    uses: ./.github/workflows/base.yml
    secrets: inherit
  ci:
    name: Extended
    permissions:
      contents: 'read'
      id-token: 'write'
    needs: [ base ]
    uses: ./.github/workflows/ci.yml
    secrets: inherit
  cbmc:
    name: CBMC
    permissions:
      contents: 'read'
      id-token: 'write'
    needs: [ base ]
    uses: ./.github/workflows/cbmc.yml
    secrets: inherit
  oqs_integration:
    name: Integration
    permissions:
      contents: 'read'
      id-token: 'write'
    needs: [ base ]
    uses: ./.github/workflows/integration-liboqs.yml
    secrets: inherit
  ct-test:
    name: Constant-time
    permissions:
      contents: 'read'
      id-token: 'write'
    needs: [ base ]
    uses: ./.github/workflows/ct-tests.yml
    secrets: inherit
