# Copyright (c) The mlkem-native project authors
# SPDX-License-Identifier: Apache-2.0 OR ISC OR MIT

name: CI
permissions:
  contents: read
on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
    types: [ "opened", "synchronize" ]

jobs:
  compiler-tests:
    name: Compiler tests (Docker)
    permissions:
      contents: 'read'
    uses: ./.github/workflows/compiler-tests.yml
    secrets: inherit
