# Copyright (c) The mlkem-native project authors
# SPDX-License-Identifier: Apache-2.0 OR ISC OR MIT

name: CBMC
permissions:
  contents: read
on:
  workflow_call:
  workflow_dispatch:

jobs:
  cbmc_k2:
    name: CBMC (ML-KEM-512)
    if: ${{ github.repository_owner == 'pq-code-package' && !github.event.pull_request.head.repo.fork }}
    permissions:
      contents: 'read'
      id-token: 'write'
    uses: ./.github/workflows/ci_ec2_reusable.yml
    with:
      name: CBMC (MLKEM-512)
      ec2_instance_type: r8g.xlarge
      ec2_ami: ubuntu-latest (aarch64)
      ec2_volume_size: 20
      compile_mode: native
      opt: no_opt
      lint: false
      verbose: true
      test: false
      cbmc: true
      cbmc_mlkem_k: 2
    secrets: inherit
  cbmc_k3:
    name: CBMC (ML-KEM-768)
    if: ${{ github.repository_owner == 'pq-code-package' && !github.event.pull_request.head.repo.fork }}
    permissions:
      contents: 'read'
      id-token: 'write'
    uses: ./.github/workflows/ci_ec2_reusable.yml
    with:
      name: CBMC (MLKEM-768)
      ec2_instance_type: r8g.xlarge
      ec2_ami: ubuntu-latest (aarch64)
      ec2_volume_size: 20
      compile_mode: native
      opt: no_opt
      lint: false
      verbose: true
      test: false
      cbmc: true
      cbmc_mlkem_k: 3
    secrets: inherit
  cbmc_k4:
    name: CBMC (ML-KEM-1024)
    if: ${{ github.repository_owner == 'pq-code-package' && !github.event.pull_request.head.repo.fork }}
    permissions:
      contents: 'read'
      id-token: 'write'
    uses: ./.github/workflows/ci_ec2_reusable.yml
    with:
      name: CBMC (MLKEM-1024)
      ec2_instance_type: r8g.xlarge
      ec2_ami: ubuntu-latest (aarch64)
      ec2_volume_size: 20
      compile_mode: native
      opt: no_opt
      lint: false
      verbose: true
      test: false
      cbmc: true
      cbmc_mlkem_k: 4
    secrets: inherit
